@model IEnumerable<vidly.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}
<div class="text-white">

    <h2>Movies :</h2>
    @using (Html.BeginForm("New", "movies", FormMethod.Get))
{
    <button type="submit" class="btn btn-primary mb-3">New Movie</button>
}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Genre</th>
            </tr>
        </thead> 
        <tbody>
            @foreach (var movie in Model)
            {
                <tr scope="row">
                     <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id})</td>
                     <td>@movie.Genre.Name</td>
                </tr>
            } 
        </tbody>
    </table>
</div>